@model Sysmap.Portal.Sanity.Models.VivoCenarios

@{
    ViewData["Title"] = "Editar Cenario";
}

<form asp-action="EditarCenarioVivo">
    <div class="form-horizontal">
        <h4>Cenario N° @ViewBag.CenarioEdit</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input asp-for="CodRelease" hidden />
        <div class="form-group">
            <div class="col-md-10">
                <input asp-for="Cenario" class="form-control" readonly hidden />
                <span asp-validation-for="Cenario" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Prioridade" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Prioridade" class="form-control" />
                <span asp-validation-for="Prioridade" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Demanda" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Demanda" class="form-control" />
                <span asp-validation-for="Demanda" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Tipo" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Analista" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Analista" class="form-control" />
                <span asp-validation-for="Analista" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Login" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Senha" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Status" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Executado" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <select class="form-control" asp-for="Executado">
                    <option value="0">Não Executado</option>
                    <option value="1">Em Execução</option>
                    <option value="2">Executado com error</option>
                    <option value="3">Executado com sucesso</option>
                </select>
                <span asp-validation-for="Executado" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Sistema" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Sistema" class="form-control" />
                <span asp-validation-for="Sistema" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Plataforma" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Plataforma" class="form-control" />
                <span asp-validation-for="Plataforma" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Funcionalidade" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Funcionalidade" class="form-control" />
                <span asp-validation-for="Funcionalidade" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Size" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TipoTeste" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="TipoTeste" class="form-control" />
                <span asp-validation-for="TipoTeste" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Descricao" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <textarea asp-for="Descricao" class="form-control"></textarea>
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ResultEsperado" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <textarea asp-for="ResultEsperado" class="form-control"></textarea>
                <span asp-validation-for="ResultEsperado" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="TipoMassa" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="TipoMassa" class="form-control" />
                <span asp-validation-for="TipoMassa" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Massa" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Massa" class="form-control" />
                <span asp-validation-for="Massa" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Documento" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="Documento" class="form-control" />
                <span asp-validation-for="Documento" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ICCID" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="ICCID" class="form-control" />
                <span asp-validation-for="ICCID" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="LinhaGerada" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="LinhaGerada" class="form-control" />
                <span asp-validation-for="LinhaGerada" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="SolicGerada" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <input asp-for="SolicGerada" class="form-control" />
                <span asp-validation-for="SolicGerada" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Observacao" class="control-label col-md-2"></label>
            <div class="col-md-10">
                <textarea asp-for="Observacao" class="form-control" ></textarea>
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Salvar" class="btn btn-outline-info" /> | <a asp-action="CenariosVivo" class="btn btn-outline-secondary"><i class="fas fa-angle-double-left"></i> Voltar</a>
        </div>

    </div>
</form>

