@model Sysmap.Portal.Sanity.Models.VivoRelease
@{
    ViewData["Title"] = "Home Vivo";
}

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">Vivo Sanity</li>
                </ol>
            </div>
            <h4 class="page-title">Vivo Sanity</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="card">
            <h3 class="card-header">Releases Ativas</h3>
            <div class="card-body">
                <p class="card-text">
                    Releases em execução.
                </p>
                <a href="@Url.Action("ReleasesAtivasVivo","Vivo")" class="btn btn-outline-info btn-rounded">Releases ativas</a>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->

        <div class="col-md-4">
            <div class="card">
                <h3 class="card-header">Cadastrar Release</h3>
                <div class="card-body">
                    <p class="card-text">
                        Cadastra uma nova lista de testes.
                    </p>
                    <a href="@Url.Action("CadastrarReleaseVivo","Vivo")" class="btn btn-outline-info btn-rounded">Cadastrar Release</a>
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->

    <div class="col-md-4">
        <div class="card">
            <h3 class="card-header">Hitorico de Releases</h3>
            <div class="card-body">
                <p class="card-text">
                    Lista com todas a releases já criadas.
                </p>
                <a href="@Url.Action("HistoricoReleaseVivo","Vivo")" class="btn btn-outline-info btn-rounded">Histórico de releases.</a>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col-->

</div>