@model Sysmap.Portal.Sanity.Models.VivoCenarios

@{
    ViewData["Title"] = "Criar Cenario";
}

<h2>Criar Cenario nº @ViewBag.Cenario</h2>
<hr />
<div class="row">
    <div class="col-md-10">
        <form asp-action="CriarCenarioVivo">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodRelease" class="control-label"></label>
                <input asp-for="CodRelease" class="form-control" placeholder="Ultimos 6 numeros da CRQ"/>
                <span asp-validation-for="CodRelease" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Prioridade" class="control-label"></label>
                <input asp-for="Prioridade" class="form-control" />
                <span asp-validation-for="Prioridade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Demanda" class="control-label"></label>
                <input asp-for="Demanda" class="form-control" />
                <span asp-validation-for="Demanda" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tipo" class="control-label"></label>
                <input asp-for="Tipo" class="form-control" />
                <span asp-validation-for="Tipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Analista" class="control-label"></label>
                <input asp-for="Analista" class="form-control" />
                <span asp-validation-for="Analista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Senha" class="control-label"></label>
                <input asp-for="Senha" class="form-control" />
                <span asp-validation-for="Senha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Executado" class="control-label"></label>
                <input asp-for="Executado" class="form-control" />
                <span asp-validation-for="Executado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sistema" class="control-label"></label>
                <input asp-for="Sistema" class="form-control" />
                <span asp-validation-for="Sistema" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Plataforma" class="control-label"></label>
                <input asp-for="Plataforma" class="form-control" />
                <span asp-validation-for="Plataforma" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Funcionalidade" class="control-label"></label>
                <input asp-for="Funcionalidade" class="form-control" />
                <span asp-validation-for="Funcionalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Size" class="control-label"></label>
                <input asp-for="Size" class="form-control" />
                <span asp-validation-for="Size" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoTeste" class="control-label"></label>
                <input asp-for="TipoTeste" class="form-control" />
                <span asp-validation-for="TipoTeste" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descricao" class="control-label"></label>
                <input asp-for="Descricao" class="form-control" />
                <span asp-validation-for="Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResultEsperado" class="control-label"></label>
                <input asp-for="ResultEsperado" class="form-control" />
                <span asp-validation-for="ResultEsperado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoMassa" class="control-label"></label>
                <input asp-for="TipoMassa" class="form-control" />
                <span asp-validation-for="TipoMassa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Massa" class="control-label"></label>
                <input asp-for="Massa" class="form-control" />
                <span asp-validation-for="Massa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Documento" class="control-label"></label>
                <input asp-for="Documento" class="form-control" />
                <span asp-validation-for="Documento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ICCID" class="control-label"></label>
                <input asp-for="ICCID" class="form-control" />
                <span asp-validation-for="ICCID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinhaGerada" class="control-label"></label>
                <input asp-for="LinhaGerada" class="form-control" />
                <span asp-validation-for="LinhaGerada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SolicGerada" class="control-label"></label>
                <input asp-for="SolicGerada" class="form-control" />
                <span asp-validation-for="SolicGerada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Observacao" class="control-label"></label>
                <input asp-for="Observacao" class="form-control" />
                <span asp-validation-for="Observacao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-outline-info" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="CenariosVivo"><i class="fas fa-angle-double-left"></i> Voltar</a>
</div>

