<li class="side-nav-title side-nav-item">Portal Sanity</li>

<li class="side-nav-item">
    <a asp-action="VivoHome" asp-controller="Vivo" class="side-nav-link">
        <i class="fas fa-home"></i>
        <span> Home </span>
    </a>
</li>
<li>
    <a href="http://zeta.sysmap.com.br:3000/d/2-VjWt5mz/release-vivo?refresh=5s&orgId=1" class="side-nav-link" target="_blank">
        <i class="fas fa-chart-pie"></i>
        <span> Grafana </span>
    </a>
</li>