<li class="side-nav-title side-nav-item">Portal Sanity</li>

<li class="side-nav-item">
    <a asp-action="VivoHome" asp-controller="Vivo" class="side-nav-link">
        <i class="fas fa-home"></i>
        <span> Home </span>
    </a>
</li>
<li>
    <a href="http://zeta.sysmap.com.br:3000/d/PuMueL9ik/release_vivo?panelId=9&orgId=1&refresh=5s&from=now&to=now" class="side-nav-link" target="_blank">
        <i class="fas fa-chart-pie"></i>
        <span> Grafana </span>
    </a>
</li>
