
@{
    ViewData["Title"] = "Home";
}

<h2 style="text-align:center;">Portal Sanity</h2>
<br />

<div class="col-sm-10">
    <div class="card card-body">
        <h5 class="card-title">Bem-vindo ao Portal Sanity</h5>
        <p>Portal desenvolvido pela equipe de sustentação para auxiliar na execução do Sanity.</p>
        <p>Em caso de duvida ou problemas enviar email para: sustentacao.telefonica@sysmap.com.br</p>
    </div> <!-- end card-->
</div>