@model Sysmap.Portal.Sanity.Models.NaturaTeste

@{
    ViewData["Title"] = "AddTesteNatura";
}

<!--
    FORMULARIO
    -->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h2 class="header-title">Numero @ViewBag.Cenario</h2>
                <form asp-action="AddTesteNatura" asp-controller="Natura" method="post">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label class="col-form-label">Executor: </label>
                            <input class="form-control" asp-for="executor">
                            <span asp-validation-for="executor" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="col-form-label">Prioridade: </label>
                            <input asp-for="prioridade" class="form-control" />
                            <span asp-validation-for="prioridade" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="col-form-label">Sistema: </label>
                            <input asp-for="sistema" class="form-control" />
                            <span asp-validation-for="sistema" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label class="col-form-label">Browser: </label>
                            <input asp-for="browser" class="form-control" />
                            <span asp-validation-for="browser" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label class="col-form-label">CN Login: </label>
                            <input class="form-control" asp-for="cn_login">
                            <span asp-validation-for="cn_login" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="col-form-label">CN Senha: </label>
                            <input asp-for="cn_senha" class="form-control" />
                            <span asp-validation-for="cn_senha" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="col-form-label">GR Login: </label>
                            <input asp-for="gr_login" class="form-control" />
                            <span asp-validation-for="gr_login" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="col-form-label">GR Senha: </label>
                            <input asp-for="gr_senha" class="form-control" />
                            <span asp-validation-for="gr_senha" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="col-form-label">Lider Login: </label>
                            <input asp-for="lider_login" class="form-control" />
                            <span asp-validation-for="lider_login" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-2">
                            <label class="col-form-label">Lider Senha: </label>
                            <input asp-for="lider_senha" class="form-control" />
                            <span asp-validation-for="lider_senha" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label class="col-form-label">Funcionalidade: </label>
                            <input asp-for="funcionalidade" class="form-control" />
                            <span asp-validation-for="funcionalidade" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-6">
                            <label class="col-form-label">Cenario: </label>
                            <input asp-for="cenario" class="form-control" />
                            <span asp-validation-for="cenario" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Pré Condição</label>
                        <textarea asp-for="pre_condicao" rows="1" class="form-control"></textarea>
                        <span asp-validation-for="pre_condicao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Passos: </label>
                        <textarea asp-for="passos" rows="1" class="form-control"></textarea>
                        <span asp-validation-for="passos" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Resultado Esperado: </label>
                        <textarea asp-for="result_esperado" rows="3" class="form-control"></textarea>
                        <span asp-validation-for="result_esperado" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Pós Condição: </label>
                        <textarea asp-for="pos_condicao" rows="1" class="form-control"></textarea>
                        <span asp-validation-for="pos_condicao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Massa: </label>
                        <textarea asp-for="massa" rows="5" class="form-control"></textarea>
                        <span asp-validation-for="massa" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Observação: </label>
                        <textarea asp-for="observacao" rows="1" class="form-control"></textarea>
                        <span asp-validation-for="observacao" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Link documentação: </label>
                        <textarea asp-for="url_doc" rows="1" class="form-control"></textarea>
                    </div>

                    <button type="submit" class="btn btn-outline-success btn-rounded"><i class="fas fa-save"></i> Salvar</button>| <a href="@Url.Action("TestesNatura","Natura",new { codRelease = ViewBag.CodRelease } )" class="btn btn-outline-secondary btn-rounded"><i class="fas fa-backward"></i> Voltar</a>
                </form>
            </div> <!-- end card-body -->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>

