<li class="side-nav-title side-nav-item">Portal Sanity</li>

<li class="side-nav-item">
    <a asp-action="NaturaHome" asp-controller="Natura" class="side-nav-link">
        <i class="fas fa-home"></i>
        <span> Home </span>
    </a>
</li>
<li class="side-nav-item">
    <a asp-action="ReleasesNatura" asp-controller="Natura" class="side-nav-link">
        <i class="fas fa-list-ul"></i>
        <span>Releases ativas</span>
    </a>
</li>
@if (User.IsInRole("All-Admin") || User.IsInRole("Natura-Admin")) {
<li class="side-nav-item">
    <a asp-action="CadReleaseNatura" asp-controller="Natura" class="side-nav-link">
        <i class="fas fa-folder-plus"></i>
        <span>Cadastrar release</span>
    </a>
</li>}
<li class="side-nav-item">
    <a asp-action="HistoricoReleaseNatura" asp-controller="Natura" class="side-nav-link">
        <i class="fas fa-history"></i>
        <span>Historico de releases</span>
    </a>
</li>
<li>
    <a href="http://zeta.sysmap.com.br:3000/d/2-VjWt5mz/release-natura?refresh=10s&orgId=1" class="side-nav-link" target="_blank">
        <i class="fas fa-chart-pie"></i>
        <span> Grafana </span>
    </a>
</li>